
@model IEnumerable<EmployeeViewModel> 

@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<a asp-action="Create" class="btn btn-primary">Create New Employee</a>
<br />
<br />


<form Class ="my-3" asp-action="Index" asp-controller="Employee">
<div class=" row">
  <div class="col-sm-8">
    <input placeholder="Search By Name"  name="SearchValue"class="form-control" />
  </div>
  <div class="col-sm-4">
  <input type="submit" value="Search" class=" btn  btn-success btn-block" />
  </div>
</div>
</form>
<br />

@if (Model?.Count() > 0)
{
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(d=>d.Name)</th>
                    <th>@Html.DisplayNameFor(d=>d.Age)</th>
                    <th>@Html.DisplayNameFor(d=>d.Image)</th>
                    <th>@Html.DisplayNameFor(d=>d.Address)</th>
                    <th>@Html.DisplayNameFor(d=>d.Email)</th>
                    <th>@Html.DisplayNameFor(d=>d.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(d=>d.Salary)</th>
                    <th>@Html.DisplayNameFor(d=>d.HireDate)</th>
                    <th>@Html.DisplayNameFor(d=>d.IsActive)</th>

                    <th>Details</th>
                    <th>Update</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>
                        <img src="~/Files/Imgs/@employee.ImageUrl" class="img-fluid rounded" height="40" width="40" />
                    </td>
                    <td>@employee.Address</td>
                    <td>@Html.DisplayFor(M => employee.Email)</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@Html.DisplayFor(M => employee.Salary)</td>
                    <td>@employee.HireDate</td>
                    <td>@Html.DisplayFor(M => employee.IsActive)</td>

                    <partial name="_ButtonsViewPartial" model="@employee.Id.ToString()" />
                </tr>
            }
            </tbody>

        </table>

}
else
{
        <div class="alert alert-warning mt-5 w-50 text-center">
                <h3>
                    No Emplooyees Found  
                </h3>
        </div>
}
